<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365481229838-s79qf23262nlut1b2a6jm7a3soibcm2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365481229838-s79qf23262nlut1b2a6jm7a3soibcm2i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>365481229838-igrddo4mbt1nht7mb2duh93iu87ejrb5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmHvNJ5sMV5ZIDZBVeyQ2K63WjBCHyivQ</string>
	<key>GCM_SENDER_ID</key>
	<string>365481229838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coopnet.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>friendly-eats-974d6</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-eats-974d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365481229838:ios:cc294fe16398668ca1465f</string>
	<key>DATABASE_URL</key>
	<string>https://friendly-eats-974d6.firebaseio.com</string>
</dict>
</plist>